@model IEnumerable<BTRS.Models.Bus>

@{
    ViewData["Title"] = "Index";
}
<div class="button-container">
    <p>
        <a asp-action="Index" asp-controller="Trips" class="btn btn-secondary">Trips</a>
        <a asp-action="Index" asp-controller="Buses" class="btn btn-secondary">Buses</a>
        <a asp-action="Logout" asp-controller="Passenger" id="logout-button">Logout</a>
    </p>
</div>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New Bus Route</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaptainName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfSeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaptainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfSeats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BusID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BusID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BusID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
