@model IEnumerable<BTRS.Models.Trip>

<div class="button-container">
    <p>
        <a asp-action="Index" asp-controller="Trips" class="btn btn-secondary">Trips</a>
        <a asp-action="Index" asp-controller="Buses" class="btn btn-secondary">Buses</a>
        <a asp-action="Logout" asp-controller="Passenger" id="logout-button">Logout</a>
    </p>
</div>

<div class="admin-trip-buttons">
    <a asp-action="Create" class="btn btn-secondary">Create New Trip</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TripID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TripID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TripID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
