@model IEnumerable<BTRS.Models.Trip>

<h1 id="booking-title">Available Trips</h1>

<div class="container">
    <div class="button-container">
        <a asp-action="AvailableTripList" class="btn btn-secondary">Trips</a>
        <a asp-action="MyBookings" class="btn btn-secondary" id="my-bookings-button"><span>My Bookings</span></a>
        <a asp-action="Logout" asp-controller="Passenger" id="logout-button">Logout</a>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.Destination</h5>
                            <p class="card-text"><strong>Departure Date:</strong> @item.StartDate.ToShortDateString()</p>
                                <p class="card-text"><strong>Return Date:</strong> @item.EndDate.ToShortDateString()</p>
                            <p class="card-text"><strong>Bus Number:</strong> @item.BusNumber</p>
                            <div class="button-group mt-3">
                                <a asp-action="BookTrip" asp-route-id="@item.TripID" class="btn btn-secondary">Book</a>
                                <a asp-action="ViewBusDetails" asp-route-id="@item.TripID" class="btn btn-secondary">View Bus Details</a>
                            </div>
                         </div>
                    </div>
                </div>
        }
    </div>
</div>